body{
    background: linear-gradient(rgb(128, 0, 64) 50%, blue 100%);
}
h1{
    color: white;
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 50px;
}
video{
    border-radius: 10px;
}